.card {
  @apply w-full;
}

.imageContainer {
  @apply relative overflow-hidden mb-1 rounded-lg shadow-lg;
}

.addBtn {
  @apply hidden sm:block bg-white text-gray-400 hover:text-gray-100 hover:bg-gray-500 font-medium whitespace-nowrap px-4 py-2 mx-auto absolute bottom-4 md:-bottom-10 right-1/2 transform translate-x-1/2 transition-all duration-500;
}

.addBtn:focus {
  @apply bottom-8 duration-75;
}

.card:hover .addBtn {
  @apply md:bottom-8;
}

.itemName {
  @apply text-xs sm:text-base block no-underline text-gray-500 mb-1 truncate;
}
