.navHeader {
  position: fixed;
  margin: auto;
  max-width: 1280px;
  top: 0px;
  z-index: 1;
  background-color: white;
  padding: 0.75rem 4rem 1rem;
}

.navLink {
  text-decoration: inherit;
  color: inherit;
}

.p {
  margin-bottom: -1rem;
}
.cart{
  z-index: 1000;
  background-color:transparent;
  transition: 0.1s ease-in-out;
  border-radius: 10%;
}
.cart:hover {
  background-color:  rgb(195, 199, 203);
}